.f1{
    background-color: brown;
    color:blue
}

.g1{
    box-shadow: 2px red;
}

.g2{
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.silver{
    background-color: azure;
}